.js-form {
  padding: 100% auto;

  border: 0px solid black;
  margin: 10px;
  font-weight: 400;

  /* border: 1px solid black; */
}
.form .form-title {
  width: 100%;
  font-size: 500%;
  font-weight: 400;
  text-align: center;
}

.form input {
  width: 100%;
  background: none;
  padding: 5px;
  border: 0px;
  font-size: 300%;
  color: white;
  align-content: center;
  border-radius: 20px;
  text-align: center;
  border-bottom: 3px solid white;
  text-shadow: 0px 0px 15px black;

  margin: 0 auto;
}
