.greetings {
  font-size: 400%;
  font-weight: 400;
  margin: auto;
  margin-bottom: 1%;
}
.showing {
  animation: showGreetings 1s;
}

@keyframes showGreetings {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
