.greetings {
  font-size: 500%;
  font-weight: 400;
  /* margin: auto; */
  margin-bottom: 1%;
}
.showing {
  animation: showGreetings 1s;
}

@keyframes showGreetings {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
